<div>
    <div>

        <ul>
            <li>
                <a href="/">Add a Contact</a>
            </li>
            <li>
                <a href="/error">View Contacts</a>
            </li>
        </ul>

    </div>
</div>
