<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Assignment 2</title>
</head>
<body>
    <a href="index.html">Index</a>
    <a href="about.html">About</a>

    <img src="images/Brandon.jpg" alt="Brandon" width="500" height="500">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et dolor metus. Etiam ac leo dui. Phasellus finibus porta eleifend. Integer suscipit leo sit amet eros lacinia, sit amet volutpat diam imperdiet. Cras nec erat neque. Fusce ut lacinia erat, ut aliquet erat. Sed eget dapibus nisl. Praesent lobortis lacus ac sodales cursus.</p>

    <p>Duis dictum condimentum nunc, id placerat risus scelerisque nec. Duis a est tristique, cursus ex ac, efficitur est. Aenean sed mauris lectus. Morbi at tincidunt lacus, et fermentum diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut accumsan velit efficitur, maximus justo eget, condimentum lectus. Maecenas ultrices tempus felis, pellentesque pulvinar mi aliquam vitae. Aliquam lobortis imperdiet laoreet.</p>

    
</body>
</html>