<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <a href="index.html">Index</a>
    <a href="about.html">About</a>
    <br><br>
    <form>
    <input id="input1" type="text" placeholder="Name"><br><br>
    <input id="input2" type="text" placeholder="Email"><br><br>
    <textarea id="input3" name="input3" id="input3" cols="30" rows="10" placeholder="Comments"></textarea><br><br>
    <button type ="submit" id="btn" onclick="sendInfo()">Submit</button>
    </form>
</body>
<script type="text/javascript">
    function sendInfo(){
        
        var input1 = document.getElementById("input1").innerHTML;
        var input2 = document.getElementById("input2").innerHTML;
        var input3 = document.getElementById("input3").innerHTML;

        window.location.href = "results.html";
        
        var output1 = document.getElementById("output1");
        var output2 = document.getElementById("output2");
        var output3 = document.getElementById("output3");

        output1 = input1.values;
    }
</script>
</html>